name: Shared Docker Build and Push

on:
  workflow_call:
    inputs:
      version:
        description: 'Version tag for the images'
        required: true
        type: string
      registry:
        description: 'Container registry URL'
        required: true
        type: string
        default: docker.io/anil2469
      checkout_ref:
        description: 'Git ref to checkout'
        required: false
        type: string
        default: ''
    secrets:
      AZURE_CONTAINER_REGISTRY_USERNAME:
        required: true
      AZURE_CONTAINER_REGISTRY_PASSWORD:
        required: true

jobs:
  # ---------------- BACKEND ----------------
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.checkout_ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.AZURE_CONTAINER_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_CONTAINER_REGISTRY_PASSWORD }}

      - name: Build and push backend
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ inputs.registry }}/backend:${{ inputs.version }}
            ${{ inputs.registry }}/backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false

  # ---------------- FRONTEND ----------------
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.checkout_ref }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.AZURE_CONTAINER_REGISTRY_USERNAME }}
          password: ${{ secrets.AZURE_CONTAINER_REGISTRY_PASSWORD }}

      - name: Build and push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          file: ./frontend/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ inputs.registry }}/frontend:${{ inputs.version }}
            ${{ inputs.registry }}/frontend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false
          sbom: false
